.nav-bar {
    color: white !important;
    font-weight: bold !important;
}

.log-link:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.header-menu {
    font-weight: bold !important;
    font-size: 20px;
    text-decoration: none !important;
    color: #fff
}

.navbar-container img {
    width: 160px;
    padding: 0;
    left: -20px;
}

.header-menu:hover {
    text-decoration: none !important;
    color: white;
    background-color: #000000;
    padding: 10px !important;
    border-radius: 15px;
}